html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Bevan', serif;
    font-size: 2.4rem;
    font-style: italic;
    color: #54c9de;
    text-shadow: 4px 4px #ed3baf;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#player-one-choose {
    margin: 0;
    text-align: center;
}

#name-page-overlay, #overlay {
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
}

#enter-name-page, #marker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    top: 200px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.input-container {
    display: flex;
    gap: 50px;
}

.name-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Bevan', serif;
    font-size: 1.2rem;
    color:#ed3baf;
}

.name-input input {
    width: 200px;
    height: 25px;
    border: 2px solid #54c9de;
    border-radius: 8px;
    color: #ed3baf;
    font-family: 'Bevan', serif;
    padding: 0px 5px;
}

button {
    background-color: #54c9de;
    width: 150px;
    height: 40px;
    border: 2px solid #ed3baf;
    border-radius: 8px;
    align-self: center;
    color: #ed3baf;
    font-family: 'Bevan', serif;
}

#marker-container  .btn-container{
    display: flex;
    gap: 50px;
}

#marker-container button {
    width: 150px;
    height: 35px;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ed3baf;
    box-shadow: 8px 8px 5px #ed3baf;
    background-color: #54c9de;
    color: #ed3baf;
    font-size: 1.1rem;
    font-weight: 700;
    position: relative;
    transition: all .3s;
}

#marker-container button:hover {
    /* position: relative;
    bottom: 5px; */
    width: 160px;
    height: 40px;
}

#marker-container button:active {
    background-color: #ed3baf;
    color: #54c9de;
    box-shadow: 8px 8px 5px #54c9de;
    top: 3px;
}

.game-title-container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#gameboard-title {
    font-size: 4rem;
    text-align: center;
}

#new-game {
    margin-bottom: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#gameboard {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 0;
    justify-content: center;
    grid-template-areas: 
        "a b c"
        "d e f"
        "g h i";
}

.cell {
    width: 150px;
    height: 150px;
    background-color: #cbecf1;
    border: 5px solid #54c9de;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell p {
    color:#ed3baf;
    text-shadow: 6px 6px #ed3baf7c;
    font-size: 6rem;
    margin: 0;
    font-style: italic;
}

.p1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-content: center;
}

.p2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    align-content: center;
}

h2 {
    font-family: 'Bevan', serif;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: #ed3baf;
    text-align: center;
}

.highlight {
    text-shadow: -5px -3px 2px #54c9de, -7px -5px 2px #ed3baf78;
}

p {
    font-family: 'Bevan', serif;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #54c9de;
    margin: 50px;
}

.winner-popup-overlay {
    background-color: #cbecf1aa;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#winner-popup {
    width: 450px;
    height: 250px;
    border-radius: 10px;
    background-color: aliceblue;
    font-family: 'Bevan', serif;
    font-size: .8rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.announce {
    margin: 0;
    margin-left: 10px;
    font-size: 1.2rem;
}

#winner-name {
    color: #ed3baf;
    text-shadow: 4px 4px #54c9de;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

.hidden {
    display: none;
}